CONFIG_MMU=y
CONFIG_ARCH_MULTIPLATFORM=y
CONFIG_ARCH_MULTI_V6=y
# CONFIG_ARCH_MULTI_V7 is not set
# CONFIG_CACHE_L2X0 is not set
CONFIG_ARM_ERRATA_411920=y

CONFIG_ARCH_PICOXCELL=y
CONFIG_SOC_PICOXCELL_PC3X3=y

# DesignWare UARTs
CONFIG_SERIAL_8250_DW=y

# AXI bus snooper
CONFIG_EDAC_PICOXCELL=y

# SPI - this board uses a DesignWare SPI and recommends using a GPIO-SPI for Radio control
CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_SPI_SPIDEV=y
CONFIG_SPI_DESIGNWARE=y
CONFIG_SPI_DW_MMIO=y
CONFIG_SPI_GPIO=y

# Hardware RNG
CONFIG_HW_RANDOM=y
CONFIG_HW_RANDOM_PC3X3=y

# DesignWare hardware watchdog
CONFIG_WATCHDOG=y
CONFIG_DW_WATCHDOG=y

# Hardware crypto accelerator
CONFIG_CRYPTO_DEV_PICOXCELL=y

# Fuse IP
CONFIG_NVMEM=y
CONFIG_PICOXCELL_AXIFUSE=y
